<ion-view title="Cheniiii" id="page6">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/sPGVFAoeRpWqXCR6t0Oj_chen.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="cheniiii-list3">
      <ion-item id="cheniiii-list-item19">Name: Kim Jongdae</ion-item>
      <ion-item id="cheniiii-list-item20">Number: 0946767767634</ion-item>
    </ion-list>
    <button id="cheniiii-button3" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>