<ion-view title="Contacts" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="contacts-form2" class="list">
      <label class="item item-input" id="contacts-search2" name="Search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search Contacts">
      </label>
      <ion-item class="item-avatar" id="contacts-list-item1" ui-sref="myJagiBaek()">
        <img src="img/7HABzUpdQTqSr1E3yCOZ_baek.jpg">
        <h2>My jagi Baek</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item2" ui-sref="suhoSsi()">
        <img src="img/cvgGkvQKQOegojEaZjk9_suho.jpg">
        <h2>Suho-ssi</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item3" ui-sref="cheniiii()">
        <img src="img/R13H4i3iTGeiiOQLRT1s_chen.jpg">
        <h2>Cheniiii </h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item4" ui-sref="pCY()">
        <img src="img/J0M2JIN5Q1WYWv01aZrO_pcy.jpg">
        <h2>PCY</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item5" ui-sref="sehunAh()">
        <img src="img/K0OuJkhkSqO85Rtk0pZ4_sehun.jpg">
        <h2>Sehun-ah</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item6" ui-sref="dodong()">
        <img src="img/ALE1alIVRGqgBsrrOWwP_dodong.jpg">
        <h2>Dodong</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item7" ui-sref="kaiii()">
        <img src="img/ds1M4RRR3C8CcuJYbgTq_kai.jpg">
        <h2>Kaiii</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item9" ui-sref="xiu()">
        <img src="img/aly3pZuGT3CJciokQFKS_Xiumin-2.jpg">
        <h2>Xiu</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item10" ui-sref="lMH()">
        <img src="img/lQj7WxgnS9KCfopRzWJr_lmh.jpg">
        <h2>LMH</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item8" ui-sref="wookie()">
        <img src="img/qWEeVaDHSmegXJjcurhY_jcw.jpg">
        <h2>Wookie</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>