<ion-view title="Dodong" id="page9">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/hyB5nyipTVqGKEN7HVPy_dodong.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="dodong-list6">
      <ion-item id="dodong-list-item25">Name: Do Kyung</ion-item>
      <ion-item id="dodong-list-item26">Number: 09287637649</ion-item>
    </ion-list>
    <button id="dodong-button6" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>