<ion-view title="Kaiii" id="page10">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/xZHIDNsvQmeIyCkRsUbz_kai.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="kaiii-list7">
      <ion-item id="kaiii-list-item27">Name: Kim Jongin</ion-item>
      <ion-item id="kaiii-list-item28">Number: 09456377654</ion-item>
    </ion-list>
    <button id="kaiii-button7" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>