<ion-view title="LMH" id="page12">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/obz5OmzRc27FPPS2mRpn_lmh.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="lMH-list9">
      <ion-item id="lMH-list-item31">Name: Lee Min Ho</ion-item>
      <ion-item id="lMH-list-item32">Number: 09345677999</ion-item>
    </ion-list>
    <button id="lMH-button9" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>