<ion-view title="My jagi Baek" id="page4">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/EqJ6UrUWRmmlFU4ht9AV_baek.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="myJagiBaek-list1">
      <ion-item id="myJagiBaek-list-item14">Name: Byun Baek &lt;3</ion-item>
      <ion-item id="myJagiBaek-list-item15">Number: 090614225544</ion-item>
    </ion-list>
    <button id="myJagiBaek-button1" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact </button>
  </ion-content>
</ion-view>