<ion-view title="PCY" id="page7">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/ArqMTP6mTP66K3pPzIUn_pcy.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="pCY-list4">
      <ion-item id="pCY-list-item21">Name: Park Chanyeol</ion-item>
      <ion-item id="pCY-list-item22">Number: 09573922634</ion-item>
    </ion-list>
    <button id="pCY-button4" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>