<ion-view title="Sehun-ah" id="page8">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/3Pm3jZSSOBKo8zsISy1Q_sehun.jpg" style="display: block; width: 100%; height: 300px; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="sehunAh-list5">
      <ion-item id="sehunAh-list-item23">Name: Oh Sehun</ion-item>
      <ion-item id="sehunAh-list-item24">Number: 092663768790</ion-item>
    </ion-list>
    <button id="sehunAh-button5" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>