<ion-view title="Suho-ssi" id="page5">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/Y73T4jUdThiQ75EajFOg_suho.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="suhoSsi-list2">
      <ion-item id="suhoSsi-list-item17">Name: Kim Junmyeon</ion-item>
      <ion-item id="suhoSsi-list-item18">Number: 09577347848</ion-item>
    </ion-list>
    <button id="suhoSsi-button2" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>