<ion-view title="Wookie" id="page13">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/c5IvYzXJSdqwvuml5Wz7_jcw.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="wookie-list10">
      <ion-item id="wookie-list-item33">Name: Ji Changwook</ion-item>
      <ion-item id="wookie-list-item34">Number: 09342377289</ion-item>
    </ion-list>
    <button id="wookie-button10" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>