<ion-view title="Xiu" id="page11">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/G9dKZf6dQzWCd6HkTvcp_Xiumin-2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="xiu-list8">
      <ion-item id="xiu-list-item29">Name: Kim Minseok</ion-item>
      <ion-item id="xiu-list-item30">Number: 09356321094</ion-item>
    </ion-list>
    <button id="xiu-button8" class="button button-assertive button-block icon ion-ios-trash"> Delete Contact</button>
  </ion-content>
</ion-view>